.elements__btn{
    width: 22px;
    height: 19px;
    background-image: url(../../../images/buttons/Vector2.svg);
    padding: 0;
    margin: 0;
    background-size: cover;
    background-position: center;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}
.elements__btn:hover{
    opacity: 60%;
}
.elements__btn:active{
    background-image: url(../../../images/buttons/Union.svg);
}